@import "tailwindcss";

/* cleark user btn adjust */

.cl-avatarBox{
  width: 2.5rem;
  height: 2.5rem;
}

.arrows{
  height: 40px;
  width: 40px;
  margin: 1px;
  /* font-size: 2rem; */
  /* color: white; */
  /* background-color: gray; */
  border-radius: 50%;
  /* padding: 0.2rem; */
}

input{
  background-color: #fff;
  accent-color: rgb(228, 52, 105);
  border: 1px solid #ccc;
  color:#333;
}