.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
    /* height: 100%; */
    border-radius: 100px;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color: transparent;  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
 
}

.modal-content {
  background: white;
  /* background: black; */
  /* padding: 2rem; */
  border-radius: 10px;
  position: relative;
  max-width: 400px;
  width: 100vw;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: #fff;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
